<section id="addSection">
  <%= form_for @input, :url => { :action => "create", :controller => "inputs"}, remote: true do |f|%>
  
        <%= f.label "What brought you to the site?" %>
        <%= f.text_field (:description) %>
  
        <%= f.submit ("Submit")%>
        
  <%end%>
</section>